html,
body {
  min-height: 100%;
}
* {
  outline: none;
}
body {
  position: relative;
  background-image: url("../img/pattern.png");
  font-family: monospace;
  background-size: 100vh;
  backdrop-filter: blur(1px);
  min-height: 100vh;
}
.name {
  padding-bottom: 2vh;
  padding-top: 10vh;
}
.name h1 {
    background-color: #303042;
    display: initial;
    padding: 0px 15px;
    color: white;
}
.head {
  min-height: 100vh;
  background-image: url("../img/avatar.png");
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 53vh;
}
.font-1 {
  background-color: #303042;
  color: white;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 21px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 170%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
h1,
h2,
h4,
h3,
h5,
a,
button {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 55px;
}
.social {
  text-align: center;
  display: block;
  padding-top: 6%;
  padding-bottom: 5%;
}
.social ul {
  padding-left: 0px;
}
.social li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid #c8c2c2;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}
.social a {
  padding: 10px;
  color: #303042;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.social a:hover {
  color: #ffffff;
  background-color: #303042;
}
.wow-btn {
  padding-top: 4vh;
  padding-bottom: 2vh;
}

@media only screen and (max-width: 480px) {
  .font-1 {
    font-size: 18px;
  }
  .wow-btn {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  h1 {
    font-size: 38px;
  }
}

/*This section for small height device*/
@media only screen and (max-height: 400px) {
  .name {
    padding-bottom: 2vh;
    padding-top: 10vh;
  }
  .head {
    min-height: 150vh;
    background-size: 60vh;
  }
  .wow-btn {
    padding-top: 10vh;
    padding-bottom: 4vh;
  }
}

/* Anim type writer */
.anim-typewriter {
  animation: typewriter 0.8s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 1.9s;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: #303042;
  }
}
